footer
  .container.text-center
    p.pull-left © 2017 ResCall. All Rights Reserved.
    ul.pull-right.list-inline
      B build with :
      li
        a(href='https://aws.amazon.com') Amazon Web Services
      li ,
      li
        a(href='https://www.satori.com/') Satori
      li ,
      li
        a(href='https://www.nexmo.com/') Nexmo
      li &
      li
        a(href='https://www.accenture.com/') Accenture
      li @
      li
        a(href='https://techcrunch.com/') TechCrunchDisrupt2017
      li !

