footer
  .container.text-center
    p.pull-left © 2017 ResCall. All Rights Reserved.
    ul.pull-right.list-inline
      B build with :
      li
        a(href='https://www.satori.com/') Satori
      li
        a(href='https://www.nexmo.com/') Nexmo
      li
        a(href='https://www.accenture.com/') Accenture
