extends layout

block content
  h1 ResCall
  p.lead Help Each Other During Catastrophes.
  hr
  .row
    .col-sm-6
      h2 Donations
      p Total Donations : #####
      p

    .col-sm-6
      h2 Needs
      p Total Needs : #####
      p

    .col-sm-6
      h4 Real time donations list
      ul.pull-right.list-inline
      li 10 gallons of water
      li 8 cans of food
      li Gasoline
      li Shelter (3 beds)
      li 3 gallons of water
      li Car
      li 10 cans of food
      li Boat

    .col-sm-6
      h4 Real time needs list
      ul.pull-right.list-inline
      li Water
      li food for 2 people
      li Gasoline
      li Car pick up
      li Shelter for 5 people
      li food for 3 people
      li Car 
      li 2 gallons of water
